<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body class="bg-[#0d1333] text-white">
    <nav class="flex gap-6 p-5 bg-black/40 text-lg">
      <a href="/" class="hover:text-indigo-400">Home</a>

      <div class="relative group cursor-pointer">
        <span>ADVI Cloud ▼</span>
        <div
          class="absolute hidden group-hover:block bg-white text-black rounded shadow mt-2 w-48"
        >
          <a href="/login/niveditha" class="block p-2 hover:bg-gray-200"
            >Niveditha Cloud</a
          >
          <a href="/login/pallavi" class="block p-2 hover:bg-gray-200"
            >Pallavi Cloud</a
          >
          <a href="/login/sahana" class="block p-2 hover:bg-gray-200"
            >Sahana Cloud</a
          >
        </div>
      </div>
    </nav>

    <section class="flex justify-center items-center h-[80vh] text-center">
      <h1 class="text-4xl font-semibold">
        <span class="text-indigo-500">ADVI</span> GROUP OF COMPANIES
      </h1>
    </section>
  </body>
</html>
